//! **************************************************************************
// Written by: Map M.81d on Tue Apr 15 19:16:30 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<2>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "gpu_inst/clock_ctr_1" BEL "gpu_inst/clock_ctr_0"
        BEL "leddriver_inst/counter_r_17" BEL "leddriver_inst/counter_r_16"
        BEL "leddriver_inst/counter_r_15" BEL "leddriver_inst/counter_r_14"
        BEL "leddriver_inst/counter_r_13" BEL "leddriver_inst/counter_r_12"
        BEL "leddriver_inst/counter_r_11" BEL "leddriver_inst/counter_r_10"
        BEL "leddriver_inst/counter_r_9" BEL "leddriver_inst/counter_r_8" BEL
        "leddriver_inst/counter_r_7" BEL "leddriver_inst/counter_r_6" BEL
        "leddriver_inst/counter_r_5" BEL "leddriver_inst/counter_r_4" BEL
        "leddriver_inst/counter_r_3" BEL "leddriver_inst/counter_r_2" BEL
        "leddriver_inst/counter_r_1" BEL "leddriver_inst/counter_r_0" BEL
        "leddriver_inst/segments_6" BEL "leddriver_inst/segments_5" BEL
        "leddriver_inst/segments_4" BEL "leddriver_inst/segments_3" BEL
        "leddriver_inst/segments_2" BEL "leddriver_inst/segments_1" BEL
        "leddriver_inst/segments_0" BEL "leddriver_inst/an_3" BEL
        "leddriver_inst/an_2" BEL "leddriver_inst/an_1" BEL
        "leddriver_inst/an_0" BEL "gpu_inst/vs" BEL "gpu_inst/hs" BEL
        "gmem_inst/mem<0>_0_3" BEL "gmem_inst/mem<0>_0_2" BEL
        "gmem_inst/mem<0>_0_1" BEL "gmem_inst/mem<0>_0_0" BEL
        "gmem_inst/mem<31>_31_3" BEL "gmem_inst/mem<31>_31_2" BEL
        "gmem_inst/mem<31>_31_1" BEL "gmem_inst/mem<31>_31_0" BEL
        "gmem_inst/mem<31>_30_3" BEL "gmem_inst/mem<31>_30_2" BEL
        "gmem_inst/mem<31>_30_1" BEL "gmem_inst/mem<31>_30_0" BEL
        "gmem_inst/mem<31>_29_3" BEL "gmem_inst/mem<31>_29_2" BEL
        "gmem_inst/mem<31>_29_1" BEL "gmem_inst/mem<31>_29_0" BEL
        "gmem_inst/mem<31>_28_3" BEL "gmem_inst/mem<31>_28_2" BEL
        "gmem_inst/mem<31>_28_1" BEL "gmem_inst/mem<31>_28_0" BEL
        "gmem_inst/mem<31>_27_3" BEL "gmem_inst/mem<31>_27_2" BEL
        "gmem_inst/mem<31>_27_1" BEL "gmem_inst/mem<31>_27_0" BEL
        "gmem_inst/mem<31>_26_3" BEL "gmem_inst/mem<31>_26_2" BEL
        "gmem_inst/mem<31>_26_1" BEL "gmem_inst/mem<31>_26_0" BEL
        "gmem_inst/mem<31>_25_3" BEL "gmem_inst/mem<31>_25_2" BEL
        "gmem_inst/mem<31>_25_1" BEL "gmem_inst/mem<31>_25_0" BEL
        "gmem_inst/mem<31>_24_3" BEL "gmem_inst/mem<31>_24_2" BEL
        "gmem_inst/mem<31>_24_1" BEL "gmem_inst/mem<31>_24_0" BEL
        "gmem_inst/mem<31>_23_3" BEL "gmem_inst/mem<31>_23_2" BEL
        "gmem_inst/mem<31>_23_1" BEL "gmem_inst/mem<31>_23_0" BEL
        "gmem_inst/mem<31>_22_3" BEL "gmem_inst/mem<31>_22_2" BEL
        "gmem_inst/mem<31>_22_1" BEL "gmem_inst/mem<31>_22_0" BEL
        "gmem_inst/mem<31>_21_3" BEL "gmem_inst/mem<31>_21_2" BEL
        "gmem_inst/mem<31>_21_1" BEL "gmem_inst/mem<31>_21_0" BEL
        "gmem_inst/mem<31>_20_3" BEL "gmem_inst/mem<31>_20_2" BEL
        "gmem_inst/mem<31>_20_1" BEL "gmem_inst/mem<31>_20_0" BEL
        "gmem_inst/mem<31>_19_3" BEL "gmem_inst/mem<31>_19_2" BEL
        "gmem_inst/mem<31>_19_1" BEL "gmem_inst/mem<31>_19_0" BEL
        "gmem_inst/mem<31>_18_3" BEL "gmem_inst/mem<31>_18_2" BEL
        "gmem_inst/mem<31>_18_1" BEL "gmem_inst/mem<31>_18_0" BEL
        "gmem_inst/mem<31>_16_3" BEL "gmem_inst/mem<31>_16_2" BEL
        "gmem_inst/mem<31>_16_1" BEL "gmem_inst/mem<31>_16_0" BEL
        "gmem_inst/mem<31>_15_3" BEL "gmem_inst/mem<31>_15_2" BEL
        "gmem_inst/mem<31>_15_1" BEL "gmem_inst/mem<31>_15_0" BEL
        "gmem_inst/mem<31>_17_3" BEL "gmem_inst/mem<31>_17_2" BEL
        "gmem_inst/mem<31>_17_1" BEL "gmem_inst/mem<31>_17_0" BEL
        "gmem_inst/mem<31>_14_3" BEL "gmem_inst/mem<31>_14_2" BEL
        "gmem_inst/mem<31>_14_1" BEL "gmem_inst/mem<31>_14_0" BEL
        "gmem_inst/mem<31>_13_3" BEL "gmem_inst/mem<31>_13_2" BEL
        "gmem_inst/mem<31>_13_1" BEL "gmem_inst/mem<31>_13_0" BEL
        "gmem_inst/mem<31>_12_3" BEL "gmem_inst/mem<31>_12_2" BEL
        "gmem_inst/mem<31>_12_1" BEL "gmem_inst/mem<31>_12_0" BEL
        "gmem_inst/mem<31>_11_3" BEL "gmem_inst/mem<31>_11_2" BEL
        "gmem_inst/mem<31>_11_1" BEL "gmem_inst/mem<31>_11_0" BEL
        "gmem_inst/mem<31>_10_3" BEL "gmem_inst/mem<31>_10_2" BEL
        "gmem_inst/mem<31>_10_1" BEL "gmem_inst/mem<31>_10_0" BEL
        "gmem_inst/mem<31>_9_3" BEL "gmem_inst/mem<31>_9_2" BEL
        "gmem_inst/mem<31>_9_1" BEL "gmem_inst/mem<31>_9_0" BEL
        "gmem_inst/mem<31>_8_3" BEL "gmem_inst/mem<31>_8_2" BEL
        "gmem_inst/mem<31>_8_1" BEL "gmem_inst/mem<31>_8_0" BEL
        "gmem_inst/mem<31>_7_3" BEL "gmem_inst/mem<31>_7_2" BEL
        "gmem_inst/mem<31>_7_1" BEL "gmem_inst/mem<31>_7_0" BEL
        "gmem_inst/mem<31>_6_3" BEL "gmem_inst/mem<31>_6_2" BEL
        "gmem_inst/mem<31>_6_1" BEL "gmem_inst/mem<31>_6_0" BEL
        "gmem_inst/mem<31>_5_3" BEL "gmem_inst/mem<31>_5_2" BEL
        "gmem_inst/mem<31>_5_1" BEL "gmem_inst/mem<31>_5_0" BEL
        "gmem_inst/mem<31>_4_3" BEL "gmem_inst/mem<31>_4_2" BEL
        "gmem_inst/mem<31>_4_1" BEL "gmem_inst/mem<31>_4_0" BEL
        "gmem_inst/mem<31>_3_3" BEL "gmem_inst/mem<31>_3_2" BEL
        "gmem_inst/mem<31>_3_1" BEL "gmem_inst/mem<31>_3_0" BEL
        "gmem_inst/mem<31>_2_3" BEL "gmem_inst/mem<31>_2_2" BEL
        "gmem_inst/mem<31>_2_1" BEL "gmem_inst/mem<31>_2_0" BEL
        "gmem_inst/mem<31>_1_3" BEL "gmem_inst/mem<31>_1_2" BEL
        "gmem_inst/mem<31>_1_1" BEL "gmem_inst/mem<31>_1_0" BEL
        "gmem_inst/mem<31>_0_3" BEL "gmem_inst/mem<31>_0_2" BEL
        "gmem_inst/mem<31>_0_1" BEL "gmem_inst/mem<31>_0_0" BEL
        "gmem_inst/mem<15>_15_3" BEL "gmem_inst/mem<15>_15_2" BEL
        "gmem_inst/mem<15>_15_1" BEL "gmem_inst/mem<15>_15_0" BEL
        "gmem_inst/mem<0>_31_3" BEL "gmem_inst/mem<0>_31_2" BEL
        "gmem_inst/mem<0>_31_1" BEL "gmem_inst/mem<0>_31_0" BEL
        "gmem_inst/mem<0>_30_3" BEL "gmem_inst/mem<0>_30_2" BEL
        "gmem_inst/mem<0>_30_1" BEL "gmem_inst/mem<0>_30_0" BEL
        "gmem_inst/mem<0>_29_3" BEL "gmem_inst/mem<0>_29_2" BEL
        "gmem_inst/mem<0>_29_1" BEL "gmem_inst/mem<0>_29_0" BEL
        "gmem_inst/mem<0>_28_3" BEL "gmem_inst/mem<0>_28_2" BEL
        "gmem_inst/mem<0>_28_1" BEL "gmem_inst/mem<0>_28_0" BEL
        "gmem_inst/mem<0>_27_3" BEL "gmem_inst/mem<0>_27_2" BEL
        "gmem_inst/mem<0>_27_1" BEL "gmem_inst/mem<0>_27_0" BEL
        "gmem_inst/mem<0>_26_3" BEL "gmem_inst/mem<0>_26_2" BEL
        "gmem_inst/mem<0>_26_1" BEL "gmem_inst/mem<0>_26_0" BEL
        "gmem_inst/mem<0>_25_3" BEL "gmem_inst/mem<0>_25_2" BEL
        "gmem_inst/mem<0>_25_1" BEL "gmem_inst/mem<0>_25_0" BEL
        "gmem_inst/mem<0>_24_3" BEL "gmem_inst/mem<0>_24_2" BEL
        "gmem_inst/mem<0>_24_1" BEL "gmem_inst/mem<0>_24_0" BEL
        "gmem_inst/mem<0>_23_3" BEL "gmem_inst/mem<0>_23_2" BEL
        "gmem_inst/mem<0>_23_1" BEL "gmem_inst/mem<0>_23_0" BEL
        "gmem_inst/mem<0>_22_3" BEL "gmem_inst/mem<0>_22_2" BEL
        "gmem_inst/mem<0>_22_1" BEL "gmem_inst/mem<0>_22_0" BEL
        "gmem_inst/mem<0>_21_3" BEL "gmem_inst/mem<0>_21_2" BEL
        "gmem_inst/mem<0>_21_1" BEL "gmem_inst/mem<0>_21_0" BEL
        "gmem_inst/mem<0>_19_3" BEL "gmem_inst/mem<0>_19_2" BEL
        "gmem_inst/mem<0>_19_1" BEL "gmem_inst/mem<0>_19_0" BEL
        "gmem_inst/mem<0>_18_3" BEL "gmem_inst/mem<0>_18_2" BEL
        "gmem_inst/mem<0>_18_1" BEL "gmem_inst/mem<0>_18_0" BEL
        "gmem_inst/mem<0>_20_3" BEL "gmem_inst/mem<0>_20_2" BEL
        "gmem_inst/mem<0>_20_1" BEL "gmem_inst/mem<0>_20_0" BEL
        "gmem_inst/mem<0>_17_3" BEL "gmem_inst/mem<0>_17_2" BEL
        "gmem_inst/mem<0>_17_1" BEL "gmem_inst/mem<0>_17_0" BEL
        "gmem_inst/mem<0>_16_3" BEL "gmem_inst/mem<0>_16_2" BEL
        "gmem_inst/mem<0>_16_1" BEL "gmem_inst/mem<0>_16_0" BEL
        "gmem_inst/mem<0>_15_3" BEL "gmem_inst/mem<0>_15_2" BEL
        "gmem_inst/mem<0>_15_1" BEL "gmem_inst/mem<0>_15_0" BEL
        "gmem_inst/mem<0>_14_3" BEL "gmem_inst/mem<0>_14_2" BEL
        "gmem_inst/mem<0>_14_1" BEL "gmem_inst/mem<0>_14_0" BEL
        "gmem_inst/mem<0>_13_3" BEL "gmem_inst/mem<0>_13_2" BEL
        "gmem_inst/mem<0>_13_1" BEL "gmem_inst/mem<0>_13_0" BEL
        "gmem_inst/mem<0>_12_3" BEL "gmem_inst/mem<0>_12_2" BEL
        "gmem_inst/mem<0>_12_1" BEL "gmem_inst/mem<0>_12_0" BEL
        "gmem_inst/mem<0>_11_3" BEL "gmem_inst/mem<0>_11_2" BEL
        "gmem_inst/mem<0>_11_1" BEL "gmem_inst/mem<0>_11_0" BEL
        "gmem_inst/mem<0>_10_3" BEL "gmem_inst/mem<0>_10_2" BEL
        "gmem_inst/mem<0>_10_1" BEL "gmem_inst/mem<0>_10_0" BEL
        "gmem_inst/mem<0>_9_3" BEL "gmem_inst/mem<0>_9_2" BEL
        "gmem_inst/mem<0>_9_1" BEL "gmem_inst/mem<0>_9_0" BEL
        "gmem_inst/mem<0>_8_3" BEL "gmem_inst/mem<0>_8_2" BEL
        "gmem_inst/mem<0>_8_1" BEL "gmem_inst/mem<0>_8_0" BEL
        "gmem_inst/mem<0>_7_3" BEL "gmem_inst/mem<0>_7_2" BEL
        "gmem_inst/mem<0>_7_1" BEL "gmem_inst/mem<0>_7_0" BEL
        "gmem_inst/mem<0>_6_3" BEL "gmem_inst/mem<0>_6_2" BEL
        "gmem_inst/mem<0>_6_1" BEL "gmem_inst/mem<0>_6_0" BEL
        "gmem_inst/mem<0>_5_3" BEL "gmem_inst/mem<0>_5_2" BEL
        "gmem_inst/mem<0>_5_1" BEL "gmem_inst/mem<0>_5_0" BEL
        "gmem_inst/mem<0>_4_3" BEL "gmem_inst/mem<0>_4_2" BEL
        "gmem_inst/mem<0>_4_1" BEL "gmem_inst/mem<0>_4_0" BEL
        "gmem_inst/mem<0>_2_3" BEL "gmem_inst/mem<0>_2_2" BEL
        "gmem_inst/mem<0>_2_1" BEL "gmem_inst/mem<0>_2_0" BEL
        "gmem_inst/mem<0>_1_3" BEL "gmem_inst/mem<0>_1_2" BEL
        "gmem_inst/mem<0>_1_1" BEL "gmem_inst/mem<0>_1_0" BEL
        "gmem_inst/mem<0>_3_3" BEL "gmem_inst/mem<0>_3_2" BEL
        "gmem_inst/mem<0>_3_1" BEL "gmem_inst/mem<0>_3_0" BEL "gpu_inst/pxY_0"
        BEL "gpu_inst/pxY_8" BEL "gpu_inst/pxY_7" BEL "gpu_inst/pxY_9" BEL
        "gpu_inst/pxY_6" BEL "gpu_inst/pxY_5" BEL "gpu_inst/pxY_4" BEL
        "gpu_inst/pxY_3" BEL "gpu_inst/pxY_2" BEL "gpu_inst/pxY_1" BEL
        "gpu_inst/pxX_0" BEL "gpu_inst/pxX_9" BEL "gpu_inst/pxX_8" BEL
        "gpu_inst/pxX_7" BEL "gpu_inst/pxX_6" BEL "gpu_inst/pxX_5" BEL
        "gpu_inst/pxX_4" BEL "gpu_inst/pxX_3" BEL "gpu_inst/pxX_2" BEL
        "gpu_inst/pxX_1" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

